@model List<ResultAboutDto>
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Hakkımızda</h3>
    </div>
    @{
        int count = 0;
    }
    <div class="card-body">
        <table class="table table-hover table-bordered">
            <tr>
                <th>#</th>
                <th>Başlık</th>
                <th>Açıklama</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <th>@count</th>
                    <td><img src="@item.ImageUrl" style="width:75px;height:75px;border-radius:50%" />   @item.Title</td>
                    <td>@item.Description</td>
                    <td>
                        <a asp-controller="AdminAbout" asp-action="Delete" asp-route-id="@item.AboutId" class="btn btn-outline-danger btn-round"><i class="la la-trash"></i> Sil</a>
                        <a asp-controller="AdminAbout" asp-action="Update" asp-route-id="@item.AboutId" class="btn btn-outline-info btn-round"><i class="la la-pencil"></i>  Güncelle</a>
                    </td>
                </tr>
            }
        </table>
        <a asp-controller="AdminAbout" asp-action="Create" class="btn btn-outline-primary btn-round"><i class="la la-plus-circle"></i>  Yeni Hakkımızda</a>
    </div>


</div>

