@model List<ResultContactDto>

<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        İletişime Geçin
                    </h4>
                    @foreach (var item in Model)
                    {


                        <div class="contact_link_box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    @item.Location
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    @item.Phone
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    @item.Email
                                </span>
                            </a>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                        Gündüz Restaurant
                    </a>
                    @foreach (var item in Model)
                    {


                        <p>
                            @item.FooterDescription
                        </p>
                    }



                    <div class="footer_social">
                        @foreach (var item in ViewBag.socialmedias as List<ResultSocialMediaDto>)
                        {
                            <a href="@item.Url" target="_blank">
                                <i class="@item.Icon" aria-hidden="true"></i>
                                
                            </a>
                        }
                    </div>

                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    Çalışma Saatleri
                </h4>
                <p>
                    Her Gün
                </p>
                <p>
                    10.00 - 22.00 
                </p>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; <span id="displayYear"></span> Tüm Hakları Saklıdır <br><br>
                &copy; <span id="displayYear"></span> Distributed By
                <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
            </p>
        </div>
    </div>
</footer>