@model List<ResultCategoryDto>
@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Kategoriler</h3>
    </div>
    @{
        int count = 0;
    }
    <div class="card-body">
        <table class="table table-hover table-bordered">
            <tr>
                <th>#</th>
                <th>Kategori Adı</th>
                <th>Durum</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <th>@count</th>
                    <td>@item.CategoryName</td>
                    <td>@( item.Status ? "Aktif" : "Pasif" )</td>
                    <td>
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-outline-danger btn-round"><i class="la la-trash"></i> Sil</a>
                        <a asp-controller="Category" asp-action="Update" asp-route-id="@item.CategoryId" class="btn btn-outline-info btn-round"><i class="la la-pencil"></i> Güncelle</a>
                    </td>
                </tr>
            }
        </table>
        <a asp-controller="Category" asp-action="Create" class="btn btn-outline-primary btn-round"><i class="la la-plus-circle"></i> Yeni Kategori</a>
    </div>


</div>