@model List<ResultSocialMediaDto>
@{
    ViewData["Title"] = "Sosyal Medya Hesapları";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Sosyal Medya Hesapları </h3>
    </div>
    @{
        int count = 0;
    }
    <div class="card-body">
        <table class="table table-hover table-bordered">
            <tr>
                <th>#</th>
                <th>Sosyal Medya</th>
              

                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <th>@count</th>
               
                    <td><a href="@item.Url" target="_blank" ><i class="@item.Icon la-2x"></i>   @item.Title</a> </td>

                    <td>
                        <a asp-controller="SocialMedia" asp-action="Delete" asp-route-id="@item.SocialMediaId" class="btn btn-outline-danger btn-round"><i class="la la-trash"></i> Sil</a>
                        <a asp-controller="SocialMedia" asp-action="Update" asp-route-id="@item.SocialMediaId" class="btn btn-outline-info btn-round"><i class="la la-pencil"></i> Güncelle</a>
                    </td>
                </tr>
            }
        </table>
        <a asp-controller="SocialMedia" asp-action="Create" class="btn btn-outline-primary btn-round"><i class="la la-plus-circle"></i> Yeni Sosyal Medya </a>
    </div>


</div>


