@model List<ResultFeatureDto>
@{
    ViewData["Title"] = "Öne Çıkan Bilgisi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Öne Çıkan Bilgisi</h3>
    </div>
    @{
        int count = 0;
    }
    <div class="card-body">
        <table class="table table-hover table-bordered">
            <tr>
                <th>#</th>
                <th>Başlık</th>
                <th>Açıklama</th>
               
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <th>@count</th>
                    <td>@item.Title</td>
                    <td>@(item.Description.Length>50 ? item.Description.Substring(0,50)+"..." : item.Description)</td>
                   
                    <td>
                        <a asp-controller="Feature" asp-action="Delete" asp-route-id="@item.FeatureId" class="btn btn-outline-danger btn-round"><i class="la la-trash"></i> Sil</a>
                        <a asp-controller="Feature" asp-action="Update" asp-route-id="@item.FeatureId" class="btn btn-outline-info btn-round"><i class="la la-pencil"></i> Güncelle</a>
                    </td>
                </tr>
            }
        </table>
        <a asp-controller="Feature" asp-action="Create" class="btn btn-outline-primary btn-round"><i class="la la-plus-circle"></i> Yeni Öne Çıkan Bilgisi</a>
    </div>


</div>

